---
const {isRed = false } = Astro.props;
---

<a href="#" class="transition-colors duration-200 items-center space-x-1 hover:bg-blue-700 rounded px-2 inline-flex bg-blue-500 text-white"
    class:list={{"bg-red-500 hover:bg-red-700":isRed}}
    >
    <slot name="start-icon">

    </slot>
    <slot name="text">
        soy un boton de la pagina
    </slot>
    <slot name="end-icon">

    </slot>
</a>
